<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>名字:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>学年:</strong>
  <%= @user.grade %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>学籍番号:</strong>
  <%= @user.student_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
