<%= form_with(url: user_create_answer_path(@user.id,result: true,score:0),model: answer,local: true, html:{id:"form"}) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @test_type == "B" %>
        <% if @last_result == "true">
          <div id= "iine"><%= image_tag '/assets/iine.gif', :size => "50x30" %></div>
        <% end %>
        <h2>現在の獲得点数: <div id="total_score_b"><%= @score %></div>点！その調子です</h2>
  <% elsif @test_type == "C" %>
        <div id= "iine"><%= image_tag '/assets/dame.gif', :size => "50x30" %></div>
        <h2>現在の失点合計: <div id="total_score_c"><%= @score %></div>点</h2>
  <%end%>
  <h2 hidden id="typetest"><%= @test_type %></h2>
  <p id ="question">を選んでください</p>
  <%= image_tag '/assets/gray.png', :size => "150x150",id:"picture1" %>
  <%= image_tag '/assets/gray.png', :size => "150x150", id:"picture2" %>
  <p hidden id = "result">result</p>
  <p hidden id="user_id"><%= @user.id %></p>
  <p hidden id = "ansnum"><%= @ansnum%></p>
  <p hidden id = "score"><%= @score %></p>


  <script>
    var cards = ["A","B","C","D","E","F"];
    var lcount = 0;
    var rcount = 0;
    var stepCnt = 0;
    var options = [];
    var selected = 0;
    var answer;
    var rndOpt;
    var othrOpt;
    var result = false;
    var user_id;
    var ansnum;
    var attempt = 0;
    var score = Number($("#score").text());
    var test_type = $("#typetest").text();
    function returnRndIdx(){
      rndOpt = Math.floor(Math.random()*2);
      if(rndOpt == 0){
        othrOpt = 1;
      }
      else if(rndOpt == 1){
        othrOpt = 0;
      }
      $("#rnd").text(`${rndOpt}`+`${othrOpt}`);
    }
    $(document).ready(function(){
      user_id = $("#user_id").text();
      ansnum = Number($("#ansnum").text())+1;
      LoadPic(stepCnt);
      answer = cards[Math.floor(Math.random()*4)+2];
      $("#question").text(`${answer}を選んでください`);
      $("#total_score_b").css("color","green");
      $("#total_score_b").css("display","inline");
      $("#total_score_c").css("color","red");
      $("#total_score_c").css("display","inline");
    })

    $("#picture1").click(function(){
      lcount++;
      renderPicL();
    })

    $("#picture2").click(function(){
      rcount++;
      renderPicR();
    })

    function LoadPic($stepCnt){
      returnRndIdx();
      if($stepCnt == 0){
        options[rndOpt] = cards[0];
        options[othrOpt] = cards[1];
      }
      else if($stepCnt == 1){
        if(selected == "A"){
          options[rndOpt] = cards[2];
          options[othrOpt] = cards[3];
        }
        else if(selected == "B"){
          options[rndOpt] = cards[4];
          options[othrOpt] = cards[5];
        }
      }
    }
    function checkEnd($selected){
      if(stepCnt == 2){
        if($selected == answer){
          if(attempt == 0){
            $("#result").text("correct");
            result = true;
            if(test_type == "B"){
              $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}/${score+10}`);
              window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`);
            }
          else if(test_type == "C"){
            $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}/${score}`);
            window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`);
          }
          }
          else{
            result =false;
            if(test_type == "B"){
              $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}/${score}`);
              window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`); 
            }
          else if(test_type == "C"){
            $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}/${score - 10}`);
            window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`); 
          }
          }
        }
        else{
          attempt++;
          $("#result").text("間違えました。正解を見つけて選べば次に進めます");
          result = false;
          stepCnt = 0;
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
        }
      }
    }
    function renderPicL(){
      if(lcount == 1){
        $("#picture1").attr("src",`/assets/${options[0]}.png`)
      }
      else if(lcount == 2){
        $("#picture1").attr("src","/assets/white.png")
      }
      else{
        if(rcount > 1){
          selected = options[0];
          stepCnt++;
          checkEnd(selected);
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
          renderGray();
        }
      }
    }
    function renderPicR(){
      if(rcount == 1){
        $("#picture2").attr("src",`/assets/${options[1]}.png`)
      }
      else if(rcount == 2){
        $("#picture2").attr("src","/assets/white.png")
      }
      else{
        if(lcount > 1){
          selected = options[1];
          stepCnt++;
          checkEnd(selected);
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
          renderGray();
        }
      }
    }
    function renderGray(){
      $("#picture1").attr("src","/assets/gray.png");
      $("#picture2").attr("src","/assets/gray.png");

    }
  </script>
<% end %>
