<%= form_with(url: user_create_answer_path(@user.id),model: answer,local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag '/assets/gray.png', :size => "150x150",id:"picture1" %>
  <%= image_tag '/assets/gray.png', :size => "150x150", id:"picture2" %>
  <p id="hoge">aaa</p>
  <p id ="2">bbb</p>

  <script>
        function checkStep2($lcount,$rcount,$a_or_b){
          if($lcount > 1 && $rcount > 1){
            stepCnt += 1 ;
            lcount = 0;
            rcount = 0;
            $("#picture1").attr("src","/assets/gray.png");
            $("#picture2").attr("src","/assets/gray.png");
          }
        }
        function renderLPic($lcount){
          if(stepCnt == 0){
            if($lcount == 1){
              $("#picture1").attr("src","/assets/A.png");
            }
            else {
              $("#picture1").attr("src","/assets/white.png");
              checkStep2(lcount,rcount);
            }
          }
          else if(stepCnt == 1){
            if(a_or_b == 0){
              if($lcount == 1){
                $("#picture1").attr("src","/assets/C.png");
              }
              else {
                $("#picture1").attr("src","/assets/white.png");
                checkStep2(lcount,rcount);
              }
            }
          }

        }
        function renderRPic($rcount){
          if(stepCnt == 0){
            if($rcount == 1){
              $("#picture2").attr("src","/assets/B.png");
            }
            else {
              $("#picture2").attr("src","/assets/white.png");
            }
          }
          else if(stepCnt == 1){
            if($rcount == 1){
              $("#picture2").attr("src","/assets/D.png");
            }
            else {
              $("#picture2").attr("src","/assets/white.png");
              checkStep2(lcount,rcount);
            }
          }
        }
        var rcount = 0;
        var lcount = 0;
        var a_or_b = 0;
        var stepCnt = 0;
        $("#picture1").click(function(){
          lcount++;
          renderLPic(lcount);
        })
        $("#picture2").click(function(){
          rcount++;
          renderRPic(rcount);
        })
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
