<%= form_with(url: user_create_answer_path(@user.id,result: true),model: answer,local: true, html:{id:"form"}) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= image_tag '/assets/gray.png', :size => "20x20",id:"questionimg" %>
    <p style="display: inline;">を選んでください</p>
  </div>

  <%= image_tag '/assets/gray.png', :size => "150x150",id:"picture1" %>
  <%= image_tag '/assets/gray.png', :size => "150x150", id:"picture2" %>
  <%= image_tag '/assets/gray.png', :size => "150x150", id:"picture3" %>

  <p id = "result">result</p>
  <p hidden id="user_id"><%= @user.id %></p>
  <p hidden id = "ansnum"><%= @ansnum%></p>


  <script>
    var cards = ["1","2","3","4","5","6","7","8","9","10","11","12"];
    var lcount = 0;
    var mcount = 0;
    var rcount = 0;
    var stepCnt = 0;
    var options = [];
    var selected = 0;
    var answer;
    var opts = [0,1,2]
    var result = false;
    var user_id;
    var ansnum;

    function returnRndIdx(){
      for(var i = opts.length -1 ; i > 0; i--){
        const j = Math.floor(Math.random()*(i + 1));
        [opts[i],opts[j]] = [opts[j],opts[i]];
      }
      $("#rnd").text(`${opts}`);
    }
    $(document).ready(function(){
      user_id = $("#user_id").text();
      ansnum = Number($("#ansnum").text())+1;
      LoadPic(stepCnt);
      answer = cards[Math.floor(Math.random()*9)+3];
      $("#questionimg").attr("src",`/assets/${answer}.png`)
      returnRndIdx();
    })

    $("#picture1").click(function(){
      lcount++;
      renderPicL();
    })
    $("#picture2").click(function(){
      mcount++;
      renderPicM();
    })
    $("#picture3").click(function(){
      rcount++;
      renderPicR();
    })

    function LoadPic($stepCnt){
      returnRndIdx();
      if($stepCnt == 0){
        options[opts[0]] = cards[0];
        options[opts[1]] = cards[1];
        options[opts[2]] = cards[2];
      }
      else if($stepCnt == 1){
        if(selected == "1"){
          options[opts[0]] = cards[3];
          options[opts[1]] = cards[4];
          options[opts[2]] = cards[5];
        }
        else if(selected == "2"){
          options[opts[0]] = cards[6];
          options[opts[1]] = cards[7];
          options[opts[2]] = cards[8];
        }
        else if(selected == "3"){
          options[opts[0]] = cards[9];
          options[opts[1]] = cards[10];
          options[opts[2]] = cards[11];
        }
      }
    }
    function checkEnd($selected){
      if(stepCnt == 2){
        if($selected == answer){
          $("#result").text("correct");
          result = true;
          $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}`);
          window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`);
        }
        else{
          $("#result").text("wrong");
          result = false;
          $.post(`http://localhost:3000/answers/new/${user_id}/${ansnum}/${result}`);
          window.location.replace(`http://localhost:3000/answers/new/${user_id}/${ansnum+1}`);
        }
      }
    }
    function renderPicL(){
      if(lcount == 1){
        $("#picture1").attr("src",`/assets/${options[0]}.png`)
      }
      else if(lcount == 2){
        $("#picture1").attr("src","/assets/white.png")
      }
      else{
        if(rcount > 1 && mcount >1){
          selected = options[0];
          stepCnt++;
          checkEnd(selected);
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
          mcount = 0;
          renderGray();
        }
      }
    }
    function renderPicM(){
      if(mcount == 1){
        $("#picture2").attr("src",`/assets/${options[1]}.png`)
      }
      else if(mcount == 2){
        $("#picture2").attr("src","/assets/white.png")
      }
      else{
        if(lcount > 1 && rcount > 1){
          selected = options[1];
          stepCnt++;
          checkEnd(selected);
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
          mcount = 0;
          renderGray();
        }
      }
    }
    function renderPicR(){
      if(rcount == 1){
        $("#picture3").attr("src",`/assets/${options[2]}.png`)
      }
      else if(rcount == 2){
        $("#picture3").attr("src","/assets/white.png")
      }
      else{
        if(lcount > 1 && mcount > 1){
          selected = options[2];
          stepCnt++;
          checkEnd(selected);
          LoadPic(stepCnt);
          lcount = 0;
          rcount = 0;
          mcount = 0;
          renderGray();
        }
      }
    }
    function renderGray(){
      $("#picture1").attr("src","/assets/gray.png");
      $("#picture2").attr("src","/assets/gray.png");
      $("#picture3").attr("src","/assets/gray.png");
    }
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
