<%= form_with(url: user_create_answer_path(@user.id),model: answer,local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag '/assets/gray.png', :size => "150x150",id:"picture1" %>
  <%= image_tag '/assets/gray.png', :size => "150x150", id:"picture2" %>
  <p id="hoge">aaa</p>
  <p id ="2">bbb</p>

  <script>
    var lcount = 0;
    var rcount = 0;
    var stepCnt = 0;
    $(document).ready(function(){
      LoadPic(stepCnt);
    })

    $("#picture1").click(function(){
      renderPicL();
      lcount++;
    })

    $("#picture2").click(function(){
      renderPicR();
      rcount++;
    })

    function LoadPic($stepCnt){
      var cards = ["A","B","C","D","E","F"].freeze;
      if($stepCnt == 0){
        
      }
    }

    function renderPicL(){
      if(lcount == 0){
        $("#picture1").attr("src","/assets/A.png")
      }
      else if(lcount == 1){
        $("#picture1").attr("src","/assets/white.png")
      }
    }
    function renderPicR(){
      if(rcount == 0){
        $("#picture2").attr("src","/assets/B.png")
      }
      else if(rcount == 1){
        $("#picture2").attr("src","/assets/white.png")
      }
    }
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
